{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="section">
            <h4>Создание проекта: </h4>
            <br>
            <div class="row">
                <form method="POST" enctype="multipart/form-data" class="col s12 m6 l12">
                    <div class="row">
                        <div class="input-field col s12 m6 l12">
                            <i class="material-icons prefix">title</i>
                            {{ form.title }}
                            {{ form.errors.title }}
                            <label>Название:</label>
                        </div>
                        <div class="input-field col s12 m3 l6">
                            <i class="material-icons prefix">attach_money</i>
                            {{ form.estimated_amount }}
                            {{ form.errors.estimated_amount }}
                            <label>Планируемая сумма:</label>
                            <span class="helper-text" data-error="wrong"
                                  data-success="right">В рублях.</span>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <i class="material-icons prefix">title</i>
                            {{ form.pre_title }}
                            {{ form.error.pre_title }}
                            <label>Поддзаголовок:</label>
                        </div>
                        <div class="file-field input-field col s12 m6 l12">
                            <div class="btn green accent-4">
                                <span>Обложка:</span>
                                {{ form.image }}
                                {{ form.errors.image }}
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text"
                                       placeholder="Загрузите обложку для вашего проекта">
                            </div>
                        </div>
                        <div class="input-field col s12 m3 l6">
                            {% csrf_token %}
                            <select name="categories" id="categories_filter">
                                <option value="" disabled selected>Выберите категорию</option>
                                {% for category in form.fields.category.choices %}
                                    <option value="{{ category.id }}"
                                            {% if category.id == category_id %}selected="selected"{% endif %}>{{ category.name }}</option>
                                {% endfor %}
                            </select>
                            <label>Категория</label>
                            {{ form.errors.category }}
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <i class="material-icons prefix">link</i>
                            {{ form.youtube }}
                            {{ form.errors.youtube }}
                            <label>Ссылка на YouTube выидео:</label>
                        </div>
                        <fieldset>
                            <legend>Описание</legend>
                            <div class="center col s12 m6 l12">
                                {{ form.description|safe }}
                                {{ form.errors.description }}
                            </div>
                        </fieldset>
                        <div class="col s12 m12 l12">
                            <p></p>
                        </div>
                        <div class="input-field col s12 m3 l6">
                            <select name="region" id="region_filter">
                                <option value="" disabled selected>Выберите регион</option>
                                {% for region in form.fields.region.choices %}
                                    <option value="{{ region.id }}"
                                            {% if region.id == region_id %}selected="selected"{% endif %}>{{ region.name }}</option>
                                {% endfor %}
                            </select>
                            <label>Регион</label>
                            {{ form.errors.region }}
                        </div>
                        <div class="input-field col s12 m3 l6">
                            <select name="city" id="city_filter"></select>
                            <label>Город</label>
                            {{ form.errors.city }}
                        </div>
                    </div>

                    <h4>Вознаграждения: </h4>
                    <br>
                    <div class="row">
                        {{ remuneration_form.management_form }}
                        {{ remuneration_form.non_form_errors }}
                        {% for form in remuneration_form %}
                            <fieldset>
                                <div class="inline {{ remuneration_form.prefix }}">
                                    <div class="row">
                                        {{ form.id }}
                                        <div class="input-field col s12 m6 l12">
                                            <div class="switch">
                                                Заблокировать вознаграждение?
                                                <label>
                                                    Нет
                                                    {{ form.disable }}
                                                    <span class="lever"></span>
                                                    Да
                                                </label>
                                            </div>
                                        </div>
                                        <div class="input-field col s12 m6 l6">
                                            <i class="material-icons prefix">title</i>
                                            {{ form.title }}
                                            {{ form.errors.title }}
                                            <label>Название:</label>
                                        </div>
                                        <div class="input-field col s12 m6 l6">
                                            <i class="material-icons prefix">attach_money</i>
                                            {{ form.price }}
                                            {{ form.errors.price }}
                                            <label>Cумма:</label>
                                            <span class="helper-text" data-error="wrong"
                                                  data-success="right">В рублях.</span>
                                        </div>
                                        <div class="file-field input-field col s12 m6 l12">
                                            <div class="btn green accent-4">
                                                <span>Изображение:</span>
                                                {{ form.image }}
                                                {{ form.errors.image }}
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text"
                                                       placeholder="Загрузите изображение вознограждения">
                                            </div>
                                        </div>


                                        <div class="input-field col s12 m6 l12">
                                            <i class="material-icons prefix">mode_edit</i>
                                            {{ form.description }}
                                            {{ form.errors.description }}
                                            <label>Описание:</label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        {% endfor %}
                        {% csrf_token %}
                    </div>
                    <div class="col s12 m6 l6 center offset-l3">
                        <button class="btn waves-effect waves-light col s12 m6 l12 green accent-4" type="submit"
                                name="action">
                            Создать
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "jquery.formset.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'index.js' %}"></script>
    <script src="{% static "jquery.formset.js" %}"></script>
    <script type="text/javascript">
        $(function () {
            $(".inline.{{ remuneration_form.prefix }}").formset({
                prefix: "{{ remuneration_form.prefix }}", // The form prefix for your django formset
                addCssClass: "waves-effect waves-light btn-small green col right", // CSS class applied to the add link
                deleteCssClass: "waves-effect waves-light btn-small red col right", // CSS class applied to the delete link
                addText: 'Добавить', // Text for the add link
                deleteText: 'Удалить', // Text for the delete link
                formCssClass: 'inline' // CSS class applied to each form in a formset
            })
        });
    </script>
{% endblock %}