{% extends 'index.html' %}
{% block content %}
    <div class="container">
        <div class="section">
            <div class="row">
                <form action="{% url 'app_project:list' %}" id="js-surface-filter-form" class="form form-filter"
                      method="GET" role="form">
                    <div class="row">
                        <div class="input-field col s12 m4 l4">
                            <select name="categories" id="categories_filter" multiple>
                                {% for category in categories %}
                                    <option value="{{ category.id }}"
                                            {% if category.id == category_id %}selected="selected"{% endif %}>{{ category.name }}</option>
                                {% endfor %}
                            </select>
                            <label>Категория</label>
                        </div>
                        <div class="input-field col s12 m4 l4">
                            <select name="region" id="region_filter" multiple>
                                {% for region in regions %}
                                    <option value="{{ region.id }}"
                                            {% if region.id == region_id %}selected="selected"{% endif %}>{{ region.name }}</option>
                                {% endfor %}
                            </select>
                            <label>Регион</label>
                        </div>
                        <div class="input-field col s12 m4 l4">
                            <select name="city" id="city_filter" multiple>
                                {% for city in citys %}
                                    <option value="{{ city.id }}"
                                            {% if city.id == city_id %}selected="selected"{% endif %}>{{ city.name }}</option>
                                {% endfor %}
                            </select>
                            <label>Город</label>
                        </div>
                        <div class="input-field col s12 m4 l8">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="title_filter" type="text" name="title" value="{{ title|default:'' }}"
                                   class="validate">
                            <label for="email">Поиск по названию</label>
                        </div>
                        <button class="waves-effect waves-light btn  green accent-4 right col s12 m4 l4" type="submit"
                                style="margin-top:25px">Найти
                        </button>
                    </div>
                </form>
            </div>
            <div class="row">
                {% for project in object_list %}
                    <div class="col s12 m4 l4">
                        <div class="card">
                            <a href="{% url 'app_project:detail' slug=project.slug %}">
                                <div class="media media--16-9">
                                    <div class="primary-title">
                                        <div class="primary-text">{{ project.title }}</div>
                                        <div class="secondary-text">{{ project.category }}</div>
                                    </div>
                                    <img src="{{ project.image.url }}"
                                         alt=""
                                         width="640" height="426"></div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}