{% extends 'index.html' %}
{% load static %}
{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'card.css' %}">
    <link rel="stylesheet" href="{% static 'comments.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m6 l8">
                    <h4>{{ object.title }}
                        {% if request.user == object.author %}
                            <a class="black-text" href="{% url 'app_project:update' slug=object.slug %}">
                                <i class="material-icons prefix">mode_edit</i></a>
                        {% endif %}
                    </h4>
                    <p>{{ object.pre_title }}</p>
                </div>
                <div class="col s12 m4 l8">
                    {% if object.youtube %}
                        <div class="video-container">
                            <iframe width="853" height="480" src="{{ object.youtube }}" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen ng-show="showvideo">
                            </iframe>
                        </div>
                    {% else %}
                        <img class="materialboxed" width="650" src="{{ object.image.url }}">
                    {% endif %}
                </div>
                <div class="col s12 m6 l4 center">
                    <span class="project_detail_sum">{{ object.current_payment }}/{{ object.estimated_amount }} руб.</span>
                    <div class="progress">
                        <div class="determinate blue" style="width: {{ object.percent_payment }}%"></div>
                    </div>
                </div>
                <div class="col s12 m6 l4 center">
                    <ul class="collection">
                        <li class="collection-item">{{ object.region }}, {{ object.city }}</li>
                        <li class="collection-item">{{ object.category }}</li>
                        <li class="collection-item">
                            {% if object.left_days == 1 or object.left_days == 21 %}
                                Остался {{ object.left_days }} день
                            {% elif object.left_days == 2 or object.left_days == 3 or object.left_days == 4 or object.left_days == 22 or object.left_days == 23 or object.left_days == 24 %}
                                Осталось {{ object.left_days }} дня
                            {% else %}
                                Осталось {{ object.left_days }} дней
                            {% endif %}
                        </li>
                        <li class="collection-item">
                            {% if object.count_payment == 2 or object.count_payment == 3 or object.count_payment == 4 %}
                                Поддержали {{ object.count_payment }} раза
                            {% elif object.count_payment == 0 %}
                                Пока никто не поддержал
                            {% else %}
                                Поддержали {{ object.count_payment }} раз
                            {% endif %}
                        </li>
                        <li class="collection-item">Запущен
                            {% if object.published_date|date:"F" == "Январь" %}
                                {{ object.published_date|date:"d" }} Января
                            {% elif object.published_date|date:"F" == "Февраль" %}
                                {{ object.published_date|date:"d" }} Февраля
                            {% elif object.published_date|date:"F" == "Март" %}
                                {{ object.published_date|date:"d" }} Марта
                            {% elif object.published_date|date:"F" == "Апрель" %}
                                {{ object.published_date|date:"d" }} Апреля
                            {% elif object.published_date|date:"F" == "Май" %}
                                {{ object.published_date|date:"d" }} Мая
                            {% elif object.published_date|date:"F" == "Июнь" %}
                                {{ object.published_date|date:"d" }} Июня
                            {% elif object.published_date|date:"F" == "Июль" %}
                                {{ object.published_date|date:"d" }} Июля
                            {% elif object.published_date|date:"F" == "Август" %}
                                {{ object.published_date|date:"d" }} Августа
                            {% elif object.published_date|date:"F" == "Сентябрь" %}
                                {{ object.published_date|date:"d" }} Сентября
                            {% elif object.published_date|date:"F" == "Октябрь" %}
                                {{ object.published_date|date:"d" }} Октября
                            {% elif object.published_date|date:"F" == "Ноябрь" %}
                                {{ object.published_date|date:"d" }} Ноября
                            {% else %}
                                {{ object.published_date|date:"d" }} Декабря
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="col s12 m6 l4">
                    <a href="{% url 'accounts:detail' pk=object.author.pk %}">
                        <ul class="collection">
                            <li class="collection-item avatar">
                                {% if object.author.image %}
                                    <img src="{{ object.author.image.url }}" alt="" class="circle">
                                {% else %}
                                    <img class="circle"
                                         src="{% static 'media/user_default_image.png' %}"
                                         alt="user_profile_image">
                                {% endif %}

                                <p style="font-size: 12px" class="black-text">Автор</p>
                                <span class="title black-text">{{ object.author.get_full_name }}</span>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 l12">
                    <a class="waves-effect waves-light btn col s12 m4 l12 green accent-4 modal-trigger right"
                       href="#modal1">Поддержать проект</a>
                </div>
            </div>
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Поддержка проекта</h4>
                    <p>Данные вашей карты сохраненны. Введите сумму, которой желаете поддержать проект</p>
                    <form method="POST" class="col s12 m6 l12" enctype="multipart/form-data"
                          action="{% url 'app_project:create_payment' pk=object.pk pk_r=0 %}">
                        <div class="row">
                            <div class="input-field col s12 m3 l9">
                                <i class="material-icons prefix">attach_money</i>
                                {{ payment_form.sum }}
                                <label>Сумма:</label>
                                <span class="helper-text" data-error="wrong"
                                      data-success="right">В рублях.</span>
                            </div>
                            <button class="btn waves-effect col s12 m4 l3 waves-light green accent-4"
                                    style="margin-top:27px" type="submit">
                                Поддержать
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4 l12">
                    <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
                        <li class="tab col s12 m4 l3"><a class="active" href="#description">Описание</a></li>
                        {% if object.news_set.all or request.user == object.author %}
                            <li class="tab col s12 m4 l3"><a href="#news">Новости</a></li>
                        {% endif %}
                        <li class="tab col s12 m4 l3"><a href="#payments">Поддержали</a></li>
                        <li class="tab col s12 m4 l3"><a href="#comments">Комментарии</a></li>

                        {% if object.remuneration_set.all %}
                            <li class="tab col s12 m4 l3"><a href="#remuneration">Вознаграждения</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="row">
                    <p></p>
                </div>
                <div id="description" class="col s12 m6 l12">
                    {{ object.description|safe }}
                </div>
                <div id="news" class="col s12 m6 l12">
                    {% if request.user == object.author %}
                        <div class="row">
                            {% for news in news %}
                                <div class="col s12 m4 l12">
                                    <div class="card">
                                        <div class="primary-title">
                                            <div class="primary-text">{{ news.title }}</div>
                                            <div class="secondary-text">{{ news.created }}</div>
                                        </div>
                                        <div class="supporting-text">
                                            {{ news.description|safe }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                            <form method="POST" class="col s12 m6 l12" enctype="multipart/form-data"
                                  action="{% url 'app_project:create_news' pk=object.pk %}">
                                <div class="row">
                                    <div class="input-field col s12 m4 l9 offset-l2">
                                        {{ news_form.title }}
                                        {{ news_form.errors.title }}
                                        <label>Заголовок:</label>
                                    </div>
                                    <div class="col s12 m4 l9 offset-l2">
                                        {{ news_form.description|safe }}
                                        {{ news_form.errors.description }}
                                    </div>
                                    <button class="btn waves-effect col s12 m6 l9 offset-l2 waves-light green accent-4"
                                            style="margin-top:27px" type="submit">
                                        Опубликовать
                                    </button>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                </div>
                <div id="payments" class="col s12 m6 l12">
                    <div class="col s12  m6 l12">
                        {% for payment in payments %}
                            <ul class="collection payment-project">
                                <li class="collection-item avatar">
                                    <a href="{% url 'accounts:detail' pk=payment.author.pk %}">
                                        {% if payment.author.image %}
                                            <img src="{{ payment.author.image.url }}" alt="user_profile_image"
                                                 class="circle">
                                        {% else %}
                                            <img class="circle"
                                                 src="{% static 'media/user_default_image.png' %}"
                                                 alt="user_profile_image">
                                        {% endif %}
                                        <span class="title black-text">{{ payment.author.get_full_name }}</span>
                                        <p class="black-text">{{ payment.sum }} руб.
                                            {% if payment.remuneration %}
                                                <br>{{ payment.remuneration }}
                                            {% endif %}
                                        </p>
                                    </a>
                                    <div class=" secondary-content black-text right">{{ payment.created }}</div>
                                </li>
                            </ul>
                        {% empty %}
                            {% if request.user == object.author %}
                                Проект пока никто не поддержал.
                            {% else %}
                                Проект пока никто не поддержал. Будь первым!
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div id="comments">
                    <div class="col s12 m6 l12">
                        <div class="comments-container">
                            <ul id="comments-list" class="comments-list">
                                {% for comment in comments %}
                                    <li>
                                        <div class="comment-avatar">
                                            {% if comment.author.image %}
                                                <img src="{{ comment.author.image.url }}" alt="user_profile_image">
                                            {% else %}
                                                <img src="{% static 'media/user_default_image.png' %}"
                                                     alt="user_profile_image">
                                            {% endif %}
                                        </div>
                                        <div class="comment-box">
                                            <div class="comment-head">
                                                <h6 class="comment-name"><a
                                                        href="{% url 'accounts:detail' pk=comment.pk %}">{{ comment.author.get_full_name }}</a>
                                                </h6>
                                                <span class="right">{{ comment.published_date }}</span>
                                                <i class="fa fa-reply"></i>
                                                <i class="fa fa-heart"></i>
                                            </div>
                                            <div class="comment-content">
                                                {{ comment.text }}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <form method="POST" class="col s12 m6 l12" enctype="multipart/form-data"
                              action="{% url 'comments:create' pk=object.pk %}">
                            <div class="row">
                                <div class="input-field col s12 m4 l9">
                                    <i class="material-icons prefix">mode_edit</i>
                                    {{ comment_form.text }}
                                    <label>Текст комментария:</label>
                                </div>
                                <button class="btn waves-effect col s12 m4 l3 waves-light green accent-4"
                                        style="margin-top:27px" type="submit">
                                    Отправить
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="remuneration" class="col s12 m6 l12">
                    {% for remuneration in project.remuneration_set.all %}
                        <div class="col s12 m4 l6">
                            <div class="card"
                                 {% if remuneration.disable == True %}style="opacity: 0.3 !important;"{% endif %}>
                                <div class="media media--16-9">
                                    {% if request.user in remuneration.holders.all %}
                                        <div class="actions">
                                            <div class="action-icons float-right"><i style="color:green;"
                                                                                     class="material-icons action-icon"
                                                                                     role="button"
                                                                                     title="Share">beenhere</i></div>
                                        </div>
                                    {% endif %}
                                    <div class="primary-title">
                                        <div class="secondary-text">{{ remuneration.price }} руб.</div>
                                        <div class="primary-text">{{ remuneration.title }}</div>
                                    </div>
                                    <img src="{{ remuneration.image.url }}"
                                         alt="" width="640" height="426">
                                </div>
                                <div class="supporting-text"> {{ remuneration.description|truncatechars:50 }}
                                </div>
                                {% if request.user not in remuneration.holders.all %}
                                    <div class="actions">
                                        <form method="POST" class="col s12 m6 l12" enctype="multipart/form-data"
                                              action="{% url 'app_project:create_payment' pk=object.pk pk_r=remuneration.pk %}">
                                            <div class="row">
                                                <div class="input-field col s12 m3 l7">
                                                    <i class="material-icons prefix">attach_money</i>
                                                    {{ payment_form.sum }}
                                                    <label>Сумма:</label>
                                                </div>
                                                <button class="btn waves-effect col s12 m4 l5 waves-light green accent-4"
                                                        style="margin-top:27px" type="submit">
                                                    Поддержать
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>-
{% endblock %}