body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
}

main {
    flex: 1 0 auto;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: #00c853 !important;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #1b5e20 !important;
}

/*.collapsible-header*/
.tabs .tab a {
    color: #00c853 !important;
}

/*Black color to the text*/

.tabs .tab a:hover {
    background-color: #eee !important;
    color: #000 !important;
}

/*Text color on hover*/

.tabs .tab a.active {
    background-color: #00c853 !important;
    color: #eee !important;
}

/*Background and text color when a tab is active*/

.tabs .indicator {
    background-color: #00c853 !important;
}

/*Color of underline*/
.collection .collection-item.avatar {
    min-height: 62px !important;
}

.payment-project .collection-item.avatar {
    min-height: 57px !important;
}

/* label color */
.input-field label {
    color: black !important;
}

/* label focus color */
.input-field input:focus + label {
    color: #00c853 !important;
}

/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #00c853 !important;
    box-shadow: 0 1px 0 0 #00c853 !important;
}

/* valid color */
.input-field input.valid {
    border-bottom: 1px solid #00c853 !important;
    box-shadow: 0 1px 0 0 #00c853 !important;
}

/* invalid color */
.input-field input.invalid {
    border-bottom: 1px solid #00c853 !important;
    box-shadow: 0 1px 0 0 #00c853 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #00c853 !important;
}

blockquote {
    border-left: 5px solid #00c853 !important;
}

h4 {
    color: #00c853;
}

h3 {
    color: #00c853;
}

h5 {
    color: #00c853;
}

.slider-text {
    font-size: 28px;
}

.dropdown-content li > span {
    color: #00c853 !important;
}

.dropdown-content li > a {
    color: #00c853 !important;
}

.progress {
    background-color: #80d8ff;
}

.project_detail_sum {
    font-size: 24px;
}

/*.modal.modal-fixed-footer .modal-content {*/
/*    height: calc(100% - 300px) !important;*/
/*}*/

/*@media only screen and (max-width: 766px) {*/
/*    h3 {*/
/*        font-size: 40px;*/
/*    }*/
/*}*/

@media only screen and (max-width: 400px) {
    h3 {
        font-size: 34px !important;
    }
}

.errorlist {
    color: red;
}
