{% extends 'index.html' %}
{% block content %}
    <div class="container">
        <div class="section">
            <h5>Редактирование профиля: </h5>
            <br>
            <div class="row">
                <form method="POST" enctype="multipart/form-data" class="col s12 m6 l12">
                    <div class="row">
                        <div class="input-field col s12 m6 l4">
                            <i class="material-icons prefix">title</i>
                            {{ form.first_name }}
                            {{ form.errors.first_name }}
                            <label>Имя:</label>
                        </div>
                        <div class="input-field col s12 m6 l4">
                            <i class="material-icons prefix">title</i>
                            {{ form.last_name }}
                            {{ form.errors.last_name }}
                            <label>Фамилия:</label>
                        </div>
                        <div class="input-field col s12 m6 l4">
                            <i class="material-icons prefix">title</i>
                            {{ form.middle_name }}
                            {{ form.errors.middle_name }}
                            <label>Отчество:</label>
                        </div>
                        <div class="file-field input-field col s12 m6 l10">
                            <div class="btn green accent-4">
                                <span>Аватар:</span>
                                {{ form.image }}
                                {{ form.errors.image }}
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text"
                                       placeholder="Загрузите аватар для вашего аккаунта">
                            </div>
                        </div>
                        <div class="input-field col s12 m6 l2">
                            <i class="material-icons prefix">phone</i>
                            {{ form.phone }}
                            {{ form.errors.phone }}
                            <label>Телефон:</label>
                        </div>
                        <div class="input-field col s12 m3 l6">
                            <select name="region" id="region_filter">
                                <option value="" disabled selected>Выберите регион</option>
                                {% for region in form.fields.region.choices %}
                                    <option value="{{ region.id }}"
                                            {% if region.id == region_id %}selected="selected"{% endif %}>{{ region.name }}</option>
                                {% endfor %}
                            </select>
                            <label>Регион</label>
                        {{ form.errors.region }}
                        </div>
                        <div class="input-field col s12 m3 l6">
                            <select name="city" id="city_filter">
                            </select>
                            <label>Город</label>
                            {{ form.errors.city }}
                        </div>
                        <div class="col s12 m6 l12">
                            <fieldset>
                                <legend>Биография</legend>
                                <div class="center col s12 m6 l12">
                                    {{ form.bio|safe }}
                                    {{ form.errors.bio }}
                                </div>
                            </fieldset>
                        </div>
                        <div class="col s12 m6 l12">
                            <p></p>
                        </div>
                        {% csrf_token %}
                        <div class="col s12 m6 l12">
                            <button class="btn waves-effect waves-light col s12 m6 l12 green accent-4" type="submit"
                                    name="action">
                                Сохранить
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}