{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m12 l12">
                    <p></p>
                </div>
                <div class="col s12 m6 l5">
                    {% if object.image %}
                        <img class="circle" src="{{ object.image.url }}" alt="user_image_profile">
                    {% else %}
                        <img class="circle" src="{% static 'media/user_default_image.png' %}" alt="user_image_profile">
                    {% endif %}
                </div>
                <div class="col s12 m6 l7">
                    <h4>{{ object.get_full_name }}</h4>
                    {% if request.user.id == object.pk %}
                    <a class="black-text" href="{% url 'accounts:update' pk=object.pk %}"><i
                            class="material-icons prefix">mode_edit</i></a>
                    {% endif %}
                </div>
                <div class="col s12 m6 l7">
                    <p class="slider-text">Информация:</p>
                    <ul class="collection">
                        <li class="collection-item">{{ object.email }}</li>
                        <li class="collection-item">{{ object.get_user_type_display }}</li>
                        {% if object.phone %}
                            <li class="collection-item">{{ object.phone|default:'' }}</li>
                        {% endif %}
                        {% if object.region and object.city %}
                            <li class="collection-item">{{ object.region|default:'' }}, {{ object.city|default:'' }}</li>
                        {% endif %}
                        {% if object.name_organization %}
                            <li class="collection-item">{{ object.name_organization|default:'' }}</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4 l12">
                    <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
                        <li class="tab col s12 m4 l3"><a class="active" href="#biography">Биография</a></li>
                        <li class="tab col s12 m4 l3"><a href="#created_project">Созданные проекты</a></li>
                        <li class="tab col s12 m4 l3"><a href="#payment_project">Поддержанные проекты</a></li>
                        <li class="tab col s12 m4 l3"><a href="#remuneration">Вознаграждения</a></li>
                    </ul>
                </div>
                <div class="row">
                    <p></p>
                </div>
                <div id="biography" class="col s12 m6 l12">
                    {% if object.bio != None or object.bio != 'Заполните биографию' %}
                        {{ object.bio|safe }}
                    {% else %}
                        {% if request.user.id == object.id %}
                            Опишите себя!
                        {% else %}
                            Пользователь не имеет биографии.
                        {% endif %}
                    {% endif %}
                </div>
                <div id="created_project" class="col s12 m6 l12">
                    {% for project in created_projects %}
                        <div class="col s12 m4 l4">
                            <div class="card"
                                 {% if project.status == 'pending' or project.status == 'unpublished' %}style="opacity: 0.3 !important;"{% endif %}>
                                {% if project.status == 'published' %}
                                    <a href="{% url 'app_project:detail' slug=project.slug %}">
                                {% endif %}
                                <div class="media media--16-9">
                                    <div class="primary-title">
                                        <div class="primary-text">{{ project.title }}</div>
                                        <div class="secondary-text">{{ project.get_status_display }}</div>
                                    </div>
                                    <img src="{{ project.image.url }}" alt="" width="640" height="426">
                                </div>
                                </a>
                            </div>
                        </div>
                    {% empty %}
                        {% if request.user.id == object.id %}
                            Создайте ваш первый проект.
                        {% else %}
                            Пользователь пока не создал ни один проект.
                        {% endif %}
                    {% endfor %}
                </div>
                <div id="payment_project" class="col s12 m6 l12">
                    <div class="col s12  m6 l12">
                        {% for payment in payment_projects %}
                            <ul class="collection">
                                <a href="{% url 'app_project:detail' slug=payment.project_payment.slug %}">
                                    <li class="collection-item avatar">
                                        {% if payment.author.image %}
                                            <img src="{{ payment.author.image.url }}" alt="" class="circle">
                                        {% else %}
                                            <img class="circle" src="{% static 'media/user_default_image.png' %}"
                                                 alt="user_image_profile">
                                        {% endif %}
                                        <span class="title black-text">{{ payment.author.get_full_name }}</span>
                                        <p class="black-text">{{ payment.sum }} руб.</p>
                                        <div class="secondary-content black-text">{{ payment.created }}</div>
                                    </li>
                                </a>
                            </ul>
                        {% empty %}
                            {% if request.user.id == object.id %}
                                Поддержите ваш первый проект.
                            {% else %}
                                Пользователь пока не оказывал поддержку ни одному из проектов.
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div id="remuneration" class="col s12 m6 l12">
                    <div class="col s12  m6 l12">
                        {% for remuneration in remunerations %}
                            <div class="col s12 m4 l4">
                                <div class="card">
                                    <a href="{% url 'app_project:detail' slug=remuneration.project.slug %}">
                                        <div class="media media--16-9">
                                            <div class="primary-title">
                                                <div class="primary-text">{{ remuneration.title }}</div>
                                                <div class="secondary-text">{{ remuneration.price }}</div>
                                            </div>
                                            <img src="{{ remuneration.image.url }}" alt="" width="640" height="426">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% empty %}
                            {% if request.user.id == object.id %}
                                У вас пока нет вознаграждений.
                            {% else %}
                                У пользователя пока нет вознаграждений.
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}