{% extends "index.html" %}
{% load i18n %}
{% load static %}
{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{#    <link rel="stylesheet" href="{% static 'index.css' %}">#}
    <link rel="stylesheet" href="{% static 'accounts/accounts.css' %}">
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="mdl-layout mdl-js-layout">
                    <section class="container">
                        <div id="cube" class="show-front">
                            <figure class="front">
                                <div class="mdl-card mdl-shadow--6dp">
                                    <div class="mdl-card__title mdl-color--primary mdl-color-text--white relative">
                                        <h2 class="mdl-card__title-text">Авторизация</h2>
                                    </div>
                                    <form method="post" action="{% url 'accounts:user_login' %}">
                                        <div class="row">
                                            <div class="mdl-card__supporting-text">
                                                <div class="input-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                    <input class="mdl-textfield__input" type="email" id="email"
                                                           name="email"/>
                                                    <label class="mdl-textfield__label" for="login">Email</label>
                                                </div>
                                                <div class="input-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                    <input class="mdl-textfield__input" type="password" id="password"
                                                           name="password"/>
                                                    <label class="mdl-textfield__label" for="password">Пароль</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="mdl-grid">
                                                <button class="waves-effect waves-light btn col s12 m4 l12 green accent-4">
                                                    Войти
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="mdl-card__actions mdl-card--border">
                                        <div class="mdl-grid">
                                            <div class="mdl-cell mdl-cell--12-col">
                                                <a onClick='flip("show-left")'
                                                   class="mdl-color-text--primary">Регистрация</a>
                                                {#                                                <a onClick='flip("show-bottom")' class="mdl-color-text--primary"#}
                                                {#                                                   style="float: right">Забыл пароль?</a>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <figure class="left">
                                <div class="mdl-card mdl-shadow--6dp">
                                    <div class="mdl-card__title mdl-color--primary mdl-color-text--white relative">
                                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                                           onClick='flip("show-front")'>
                                            <i class="material-icons">arrow_back</i>
                                        </a>
                                        <h2 class="mdl-card__title-text">Регистрация</h2>
                                    </div>
                                    <form method="post" action="{% url 'accounts:register' %}">
                                        <div class="row">
                                            <div class="mdl-card__supporting-text">
                                                <div class="input-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                    <input class="mdl-textfield__input" type="email" id="email"
                                                           name="email"/>
                                                    <label class="mdl-textfield__label" for="login">Email</label>
                                                </div>
                                                <div class="input-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                    <input class="mdl-textfield__input" type="password" id="password"
                                                           name="password"/>
                                                    <label class="mdl-textfield__label" for="password">Пароль</label>
                                                </div>
                                                <div class="input-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                    <input class="mdl-textfield__input" type="password" id="password2"
                                                           name="password2"/>
                                                    <label class="mdl-textfield__label" for="password2">Проверка
                                                        пароля</label>
                                                </div>
                                                <div class="input-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                    <input class="mdl-textfield__input" type="text" id="first_name"
                                                           name="first_name"/>
                                                    <label class="mdl-textfield__label" for="first_name">Имя</label>
                                                </div>
                                                <div class="input-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                    <input class="mdl-textfield__input" type="text" id="last_name"
                                                           name="last_name"/>
                                                    <label class="mdl-textfield__label" for="last_name">Фамилия</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="mdl-card__actions mdl-card--border">
                                                <div class="mdl-grid">
                                                    <button class="waves-effect waves-light btn col s12 m4 l12 green accent-4">
                                                        Зарегистрироваться
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </figure>
                            <figure class="bottom">
                                <div class="mdl-card mdl-shadow--6dp">
                                    <div class="mdl-card__title mdl-color--primary mdl-color-text--white relative">
                                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                                           onClick='flip("show-front")'>
                                            <i class="material-icons">arrow_back</i>
                                        </a>
                                        <h2 class="mdl-card__title-text">Забыл пароль?</h2>
                                    </div>

                                    <div class="row">
                                        <div class="mdl-card__supporting-text">
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <input class="mdl-textfield__input" type="email" id="email"/>
                                                <label class="mdl-textfield__label" for="email">Email</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mdl-card__actions mdl-card--border">
                                            <div class="mdl-grid">
                                                <button class="waves-effect waves-light btn col s12 m4 l12 green accent-4">
                                                    Востановить пароль
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'accounts/accounts.js' %}"></script>
{% endblock %}